<div class="container">
  <h1>Your Groups</h1>

  <% @user_groups.each do |group| %>

    <div>
      <%= link_to group.name, group, class:"col-md-4" %>
      <%= link_to "leave", leave_group_path(group), class:"btn btn-default btn-xs" %>
      <% if current_user_admin?(group) %>
        <%= link_to "Edit", edit_group_path(group), class:"btn btn-default btn-xs" %>
        <%= link_to "Delete", group_path(group), method: :delete, data: { confirm: "Delete group?"}, class:"btn btn-default btn-xs" %>
      <% end %>
    </div>
  <% end %>
</div>


<div class="container">
  <h3>Other Groups</h3>
  <% @groups.each do |group| %>
  <div>
    <% unless group.members.include?(current_user) %>
      <%= link_to group.name, group, class:"col-md-4" %>
      <%= link_to "Join", join_group_path(group), class:"btn btn-default btn-xs" %>
    <% end %>
  </div>

  <% end %>
</div>

<div class="container">
  <%= link_to "Create a group", new_group_path, class:"btn btn-default btn-lg" %>
</div>
