<%= simple_form_for @post, html: { class: 'form-horizontal'},
  wrapper: :horizontal_form,
  wrapper_mappings: {
    check_boxes: :horizontal_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes,
    file: :horizontal_file_input,
    boolean: :horizontal_boolean
  }  do |f| %>

  <div class="field form-group">
    <%= f.error_notification %>
  </div>
  <div class="field form-group">
    <%= f.input   :title %>
  </div>
  <div class="field form-group">
    <%= f.input   :content %>
  </div>
  <div class="actions form-group">
      <%= f.button  :submit, class:"btn btn-primary btn-lg btn-block" %>
  </div>
<% end %>


