<!DOCTYPE html>
<html>
<head>
  <title>HelloApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="header">
    <div class="wrapper">
      <div class="logo">
        <p><%= link_to "hello!", root_path %></p>
      </div>
      <div id="nav_buttons">
        <% if user_signed_in? %>
          <%= link_to "New Post", new_post_path %>
          <%= link_to "Edit your Account", edit_user_registration_path %>
        <% else %>
          <%= link_to "Sign in", new_user_session_path %>
          <%= link_to "Register", new_user_registration_path %>
        <% end %>
      </div>
    </div>
  </header>
  <div class="wrapper">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>
  <div class="wrapper">
    <%= yield %>
  </div>
</body>
</html>
